@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  box-sizing: border-box;
  display: flex;
  color: #17202A;
  font-family: Epilogue, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  justify-content: center;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background: #154360;
  color: white;
  padding: 2px;
  letter-spacing: -0.15rem;
  text-align: center;
  font-size: 1.35rem;
}

/* quadro com os quadros adicionar e preview */
.create-and-register {
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1300px;
  height: 700px;
  padding: 20px;
}

/* adicionar nova carta */
.box-new-card {
  background: #d0d3d4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 20px;
  width: 500px;
  height: 650px;
  transition: 0.5s;
}

.box-new-card h1 {
  letter-spacing: -.2rem;
  font-size: 2.25rem;
}

.box-new-card:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25),
    0px 0px 15px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0,0,0,0.25);
  border-right: 1px solid rgba(0,0,0,0.65);
  border-bottom: 1px solid rgba(0,0,0,0.65);
}

.new-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 350px;
}

.new-card span {
  font-weight: 600;
  margin: 20px 0 5px 0;
}

.trunfo-input {
  margin: 10px 0 20px 0;
}

.save-button,
.select-rare,
.input-form {
  border: solid 1px whitesmoke;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

.save-button {
  font-weight: 600;
}

span.lb-trunfo {
  margin-left: 5px;
}

.box-attr-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.input-attr {
  border: solid 1px whitesmoke;
  border-radius: 5px;
  padding: 3px;
  font-size: 1rem;
  width: 35px;
  margin-right: 10px;
}

span.card-attr {
  padding: 0 5px;
  margin-right: 5px;
}

/* quadro preview */
.box-card-preview {
  background: #154360;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 650px;
}

.box-card-preview img {
  width: 100%;
  border-radius: 10px;
}

.card-preview {
  background: #A93226;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: solid 5px #F2F3F4;
  border-radius: 10px;
  color: white;
  padding: 10px;
  width: 325px;
  height: 500px;
}

.card-preview span {
  font-size: 0.75rem;
  padding: 5px;
}

span.name-card {
  font-size: 1.1rem;
  font-weight: 600;
}

span.trunfo-card {
  padding: 6px 50px;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 10px;
  background: #B7950B;
  box-shadow: 0px 0px 15px rgba(183, 149, 11, 0.85),
  0px 0px 15px rgba(183, 149, 11, 0.85);
}

span.description-card {
  font-size: 0.65rem;
}

/* todas as cartas */
.list-cards {
  border-top: solid 1px lightslategray;
  background: whitesmoke;
  display: flex;
  padding: 10px;
  justify-content: center;
}

.box-search {
  border: solid 2px red;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 300px;
  height: 300px;
  margin: 10px;
  padding: 10px;
}

.box-search h1 {
  letter-spacing: -0.15rem;
}

.box-all-cards {
  border: solid 2px olivedrab;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  width: 800px;
  margin: 10px;
}

.all-cards {
  background: #154360;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  color: white;
  margin-bottom: 20px;
  padding: 10px;
  width: 250px;
  height: 370px;
}

.box-card {
  background: #A93226;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: solid 3px #F2F3F4;
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  width: 217px;
  height: 334px;
}

.box-card img {
  width: 100%;
  border-radius: 5px;
}

.all-cards span {
  font-size: 0.5rem;
  padding: 2.5px;

}

span.name-cards {
  font-size: 0.75rem;
  font-weight: 600;
}

span.trunfo-all-cards {
  padding: 5px 25px;
  font-weight: 600;
  font-size: 0.7rem;
  border-radius: 5px;
  background: #B7950B;
  box-shadow: 0px 0px 15px rgba(183, 149, 11, 0.85),
  0px 0px 15px rgba(183, 149, 11, 0.85);
}
